/*
Universal Styling 
*/
:root {
  --pink: #fc036b;
  --blue: dodgerblue;
  --heading-foot-colors:#484872;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bg-img {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: -5;
  filter: brightness(70%);
}
.bg-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
body {
  font-family: 'Times New Roman',serif;
  font-size: 1rem;
}
html {
  scroll-behavior: smooth;
  font-size: clamp(14px,1.3vw,18px);
}
/*
Header Styling
*/
nav {
  width: 100vw;
  color: white;
  display: flex;
  justify-content: space-between;
  position: fixed;
  transition: 0.4s;
  z-index: 100;
}
nav h3 {
  margin: 1rem;
  font-size: 3.4vmin;
}
nav > div {
  display: flex;
  gap: 40px;
  align-items: center;
}
nav ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
  font-size: 1.3vh;
  align-items: center;
}
#nav-btn-1 {
  transition: 0.3s;
  overflow: hidden;
  position: relative;
  background-color: var(--pink);
  border-radius: 30px;
  border: 0;
  color: white;
  width: 12vw;
  height: 55px;
  font-size: 2.5vmin;
  margin: 2px 10px 0 0;
}
li a {
  position: relative;
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
}
nav ul li a:hover {
  color: var(--pink);
}
#first-link {
  color: var(--pink);
}
#first-link:hover {
  color: white;
}
nav ul li a::after {
  content:'';
  background-color: var(--pink);
  width: 0%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.2s;
}
nav ul li a:hover::after {
  width: 65%;
}
#nav-btn-1:hover {
  animation:hoverBtn 1s infinite;
}
@keyframes hoverBtn {
  0%, 100% {
    background-color: white;
    color: var(--pink);
    transform: scale(1.1, 1);
  }
  50% {
    background-color: var(--pink);
    color: white;
    transform: scale(1, 1);
  }
}
#nav-btn-2 {
  transition: 0.2s;
  display: none;
  color: white;
}
/*
SideBar Styling
*/
.top-bar {
  width: 100vw;
  height: 70vh;
  background: linear-gradient(to right, #404A42, gray);
  border-radius: 0 0 120px 20px;
  position: fixed;
  top: -70vh;
  z-index: 200;
  box-shadow: 0 0 20px var(--pink),0 0 8px black, inset 0 10px 15px pink;
  opacity:0;
  transition: top 0.8s ease, opacity 0.5s ease-out;
  display: none;
  color: white;
}
.top-bar ul {
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  list-style-type: none;
  height: 100%;
  gap: 43px;
  text-align: center;
}
#close-top {
  background-color: transparent;
  border:0;
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  padding-right: 14px;
  transition: 0.3s;
  font-size: 4.4vmax;
}
#close-top:hover {
  color: transparent;
  -webkit-text-stroke: 1px var(--pink);
  text-shadow: 0 0 15px var(--pink);
}
#top-btn {
  transition: border 0.2s ease, color 0.3s ease, background 0.6s ease, box-shadow 1.6s ease;
  height: 9%;
  width: 28%;
  border-radius: 5px;
  border: 1px solid white;
  background: var(--pink);
  color: white;
  position: absolute;
  top: 80%;
  cursor: pointer;
  font-size:3vmin;
}
#top-btn:hover {
  border:1px solid var(--pink);
  background: transparent;
  box-shadow: inset 0 0 30px 15px white;
  color: (--blue);
}
.top-btn-div {
  display: flex;
  justify-content: center;
}
/*
Hero Section Styling
*/
.hero-data {
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.hero-data h2 {
  font-size: 3.6vmin;
  font-weight: 500;
  opacity: 0.9;
}
.hero-data > div {
  width: 17%;
  height: 7px;
  margin: 12px 0;
  background-color: var(--pink);
}
.hero-data h1 {
  font-size: 7vmin;
  padding-top: 3%;
}
.hero-btn {
  display: flex;
  align-items: center;
  width: 20vmin;
  height: 10vmin;
  margin-top: 4%;
  font-size: 2.3vmin;
  letter-spacing: 1px;
  background-color: var(--pink);
  border-radius: 20px;
  border:1px solid white;
  color: ghostwhite;
  position: relative;
  box-shadow:inset 0 0 4px white;
  transition: 0.3s;
  justify-content: center;
}
.hero-btn:hover {
  background-color: transparent;
  letter-spacing:0px;
  transform: scale(1.08,1.03);
  box-shadow: inset 0 0 10px 5px white, 0 0 16px 2px var(--pink) , inset 0 0 20px 10px var(--blue);
  margin-top: 15px;
}
/*
Tour Section Styling
*/
#tour {
  text-align: center;
}
#tour h2 {
  font-size: clamp(1.2rem, 5vw, 8rem);
  color: var(--heading-foot-colors);
}
#tour > div:first-of-type {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  flex-direction: column;
  align-items: center;
}
#tour > div:first-of-type > div {
  background: var(--pink);
  width: 30%;
  height: 3px;
  border-radius: 5px;
  margin-top: 10px;
}
.tour-cards-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.tour-cards-wrapper div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
}
.tour-cards-wrapper img {
  transition: 0.3s;
  max-width: 80%;
  border-radius: 3px;
}
.tour-cards-wrapper img:hover {
  scale:1.08
}
.tour-cards-wrapper div h3 {
  font-size: 3.3vmin;
  margin-block: 2vmin;
}
.tour-cards-wrapper div p {
  text-align: left;
  width: 80%;
}
.tour-cards-wrapper a {
  background-color: var(--pink);
  color: white;
  border-radius: 1rem;
  padding: 2vmin 3vmin;
  text-decoration: none;
  font-size: clamp(1.2rem, 2vw, 1.6rem);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, transform 0.2s;
  margin-top: 5%;
}
.tour-cards-wrapper a:hover {
  background-color: #e6005c;
  transform: scale(1.05);
}
/*
Explore Pic
*/
#explore {
  margin-top: 5vmin;
  color: white;
}
.explore {
  width: 100%;
  height: 80vh;
  background-image: url("Assets/bg2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.explore h3 {
  font-size: 6vmin;
  margin: 11vmax 0 0 10%;
  display: inline-block;
}
.explore-line {
  width: 40%;
  height: 5px;
  background: var(--pink);
  margin: 1vmax 0 0 10%;
}
.explore p {
  font-size: 2vmax;
  margin: 2vmin 0 0 8%;
  line-height: 1.4;
  max-width: 90%;
}
.explore a {
  background: var(--pink);
  color: white;
  text-decoration: none;
  border-radius: 1rem;
  padding: 2vmin 3vmin;
  text-decoration: none;
  font-size: clamp(1.2rem, 2vw, 1.6rem);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, transform 0.2s;
  margin: 6% 0 0 8%;
}
.explore a:hover {
  background-color: #e6005c;
  transform: scale(1.05);
}
/*
About Setion 
*/
.about-text h2 {
  color: var(--heading-foot-colors);
  font-size: 6.3vmin;
  margin: 6vmax 0 0 3vmin;
}
.about-text .about-line {
  background-color: var(--pink);
  height: clamp(0.5vh,3px,3vh);
  width: clamp(20vw,30%,32vw);
  border-radius: 5px;
  margin: 2vmin 0 0 3vmin;
}
.about-text p {
  margin: 4vmin 0 0 3vmin;
  width: 50vw;
  font-size: 2.8vmin;
  line-height: 1.6;
}
.about-text a {
  background: var(--pink);
  color: white;
  text-decoration: none;
  border-radius: 1rem;
  padding: 2vmin 3vmin;
  text-decoration: none;
  font-size: clamp(1.2rem, 2vw, 1.6rem);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, transform 0.2s, opacity 0.2s;
  margin: 6vmin 0 0 0;
}
.about-text a:hover {
  background-color: #e6005c;
  transform: scale(1.05);
  opacity: 0.9;
}
.center-a {
  display: flex;
  justify-content: center;
  max-width: 50%;
}
.about-text {
  width: 50vw;
}
#about {
  display: flex;
  justify-content: space-between;
}
.about-pics {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 10px; 
  max-width: 500px;
  margin: auto;
}
.about-pics img {
  width: 95%;
  height: auto;
  display: block;
  border-radius: 10px;
  transition: 0.3s;
}
.about-pics img:hover {
  filter: blur(40px);
}
/*
Footer Styling
*/
footer {
  height: 100%;
  display: flex;
  align-items: flex-end;
  margin-top: 40vh;
}
.footer {
  width: 100vw;
  height: 200px;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  background: var(--heading-foot-colors);
  position: absolute;
  border-radius:4vmin 4vmin 0 0;
  text-align:center;
  gap:3vmax;
}
.footer p, 
.footer h5 {
  color:white;
  white-space:wrap;
  font-size:3vmin;
}
